<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      ACSET Indonusa Tbk.
      <h5 class="hint">Link reset password will be sent to your email</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">E-mail</label>
        <input type="text" name="email" clrInput placeholder="E-mail" />
      </clr-input-container>
      <button type="submit" class="btn btn-primary">Reset</button>
      <a href="javascript://" routerLink="/auth" class="signup"
        >Back to login</a
      >
    </div>
  </form>
</div>
