<div class="login-wrapper">
  <form class="login" (ngSubmit)="login()" [formGroup]="loginForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      ACSET Indonusa Tbk.
      <h5 class="hint">Use your Username to sign in</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input
          type="text"
          name="username"
          clrInput
          placeholder="Username"
          formControlName="userName"
        />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Password"
          formControlName="password"
        />
      </clr-password-container>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <a href="javascript://" routerLink="../forgot-password" class="signup"
        >Forgot password?</a
      >
    </div>
  </form>
</div>
